{% extends "users/base.html" %}

{% block content %}

    <div class="content">

     <h2>Edit Profile</h2>
      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.profile_image.label(class="form-label") }}
          {{ form.profile_image(class="form-control") }}
          {% if current_user.profile_image %}
          <div class="mt-2">
            <img src="{{ url_for('static', filename='uploads/' + current_user.profile_image) }}" alt="Current Profile Image" class="rounded" width="120">
          </div>
          {% endif %}
        </div>

        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
{% endblock %}